@model MasterLayoutEx.Models.Feedback
@{
    ViewBag.Title = "ThankYouPage";
    Layout = "~/Views/Shared/_MasterLayoutPage.cshtml";
}




<h2>ThankYouPage</h2>

<b> Thank you sending your valuable feedback to us.</b>

